{% extends '@SyliusAdmin/layout.html.twig' %}

{%  block title %}{{ 'coop_tilleuls_click_n_collect.ui.collections'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui stackable">
        <h1 class="ui header">{{ 'coop_tilleuls_click_n_collect.ui.collections'|trans }}</h1>

        <select id="locations">
            {% for location in locations %}<option value="{{ location.code|escape('html_attr') }}">{{ location.name }}</option>{% endfor %}
        </select>
        <div id="calendar"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include '@CoopTilleulsSyliusClickNCollectPlugin/fullcalendar/_scripts.html.twig' %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/cooptilleulssyliusclickncollectplugin/admin/collections.js'} %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% include '@CoopTilleulsSyliusClickNCollectPlugin/fullcalendar/_styles.html.twig' %}
{% endblock %}
